<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/components/config/reset.css">
    <link rel="stylesheet" href="/assets/components/style/base.css">
    <title>Rise Road Revolt</title>
</head>
<body>
    <div class="container-rise">
        <header class="main-header">
            <div class="wrap-logo">
                <a href="/index.html" class="logo"><img src="/assets/components/img/icon/Logo.svg" alt="Logotipo HBO Max"></a>
            </div>
            <div class="wrap-profile">
                <img src="/assets/components/img/icon/profile.svg" alt="Imagem com rosto do usuário" class="profile__picture">
            </div>
        </header>
        <main class="main-content">
            <span class="movie-info">
                2021 | PG-13 | 2h28m
              </span>
              <h1 class="movie-title">
                SPIDER-MAN: NO WAY HOME
              </h1>
              <span class="movie-category">
                Action | Adventure | Fantasy
              </span>
              <div class="wrap-imdb">
                <img src="assets/components/img/icon/imdb.svg" alt="Siglas IMDB" class="imdb">
                <span class="movie-note">8.5</span>
              </div>
              <div class="wrap-button">
              <a href="#" class="button-play"><img src="assets/components/img/icon/play.svg" alt="Ícone de reproduzir vídeo" class="play-icon"> Watch Now</a>
              <a href="#" class="button-add"><img src="/assets/components/img/icon/plus.svg" alt="Icone com sinal mais" class="icon-dd"> Add in my list</a>
              </div>
              
        </main>
    </div>
</body>
</html>